@model IEnumerable<score.Models.SalesBoardAllMTD>


@{
    ViewBag.Title = "Index";
    string Location = ViewBag.Location;
    string AssociateName ="";
    string ReportDate = ViewBag.ReportDate;
    int DaysInMonth = ViewBag.DIM;
    var applicationPath = Request.ApplicationPath;
    if (applicationPath == "/")
    {
        applicationPath = "";
    }
    int inc = 0;
    ViewBag.DataPoints = "";
    string[] a_AssociateName = new string[280];
    decimal[] a_MTD = new decimal[280];
}
<!DOCTYPE HTML>
<html>
@foreach (var item in Model)
{
    AssociateName = item.FIRSTNAME.ToUpper() + " " + item.LASTNAME.ToUpper();
    a_MTD[inc] = ((decimal)item.MTD);
    if (inc > 0)
    {
        ViewBag.DataPoints += ",";
    }
    ViewBag.DataPoints += "{ y: " + ((decimal)item.MTD) + ", label: \"" + AssociateName + "\" } ";

    inc += 1;
}

    <head>
        <meta charset="UTF-8">
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,

                title: {
                    text: "Sales Scoreboard"
                },
                axisX: {
                    interval: 1,
                    labelFontSize: 18
                    },
                axisY2: {
                    interlacedColor: "rgba(1,77,101,.2)",
                    gridColor: "rgba(1,77,101,.1)",
                },
                data: [{
                    indexLabelFontSize: 6,
                    type: "bar",
                    name: "companies",
                    axisYType: "secondary",
                    color: "#014D65",
                    dataPoints: [
                        { y: 16.5, label: "test AUZA GUZMAN" },
                        { y: @a_MTD[39], label: "@a_AssociateName[39]" }
                    ],


                dataPoints: [@Html.Raw(ViewBag.DataPoints)]

                }
                ]
            });


            chart.render();

            }
    </script>
    </head>
    <body>
        <div id="chartContainer" style="height: 770px; max-width: 1320px; margin: 0px auto"></div>
        <script src="../../canvasjs.min.js"></script>
    </body>
</html>